FIRECRAWL_IMAGE_TAG=latest
PORT=3002
POSTGRES_USER=firecrawl
POSTGRES_PASSWORD=replace-with-a-long-random-value
POSTGRES_DB=firecrawl
BULL_AUTH_KEY=replace-with-a-long-random-value
SEARXNG_SECRET=replace-with-a-long-random-value
SEARXNG_ENGINES=quark,yandex,duckduckgo web,360search,sogou
SEARXNG_ENDPOINT=http://searxng:8080
NUM_WORKERS_PER_QUEUE=1
NUQ_WORKER_COUNT=1
CRAWL_CONCURRENT_REQUESTS=6
MAX_CONCURRENT_JOBS=4
BROWSER_POOL_SIZE=2
MAX_CPU=0.90
MAX_RAM=0.90
LOGGING_LEVEL=info
